@page "/"

<h1>Welcome to EventEase</h1>
<p>Explore our upcoming events!</p>

@code {
    private List<EventModel> events = new List<EventModel>
    {
        new EventModel { Id = 1, Name = "Sample Event 1", Date = DateTime.Now, Location = "Barcelona" },
        new EventModel { Id = 2, Name = "Sample Event 2", Date = DateTime.Now.AddDays(1), Location = "Madrid" }
    };
}

@foreach (var eventModel in events)
{
    <EventCard Event="eventModel" @key="eventModel.Id" />
}
