@inherits LayoutComponentBase

<PageTitle>EventEase</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        @Body
    </div>
</div>
